<%= form_for(@ticket) do |f| %>
  <div class="field">
    <% if current_user.id == 1 %>
      <%= f.hidden_field :user_id, :value => 2%>
    <% else %>
      <%= f.hidden_field :user_id, :value => 1%>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :header, 'Заголовок' %><br>
    <%= f.text_field :header %>
  </div>
  <div class="field">
    <%= f.label :description, "Описание" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Подарить", :class => 'btn btn-danger' %>
  </div>
<% end %>
